*{
  overflow-x:hidden;
}



.outer_box {
  display: flex;
  flex-direction: row;
  
 max-width: 1600px;
  background-color: rgb(223, 219, 219);
  
}
.navigation {
  width: 15%;
  
  background-color: #4e73df;
  color: white;

  padding: 5px;
}
.second_box{
  width:85%;
  display:flex;
  flex-direction: column;
  
}
.dashboard {

  
}
.nav_heading {
  
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.dash {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  
  padding: 0px 5px;
}
.interface {
 
  padding: 0px 5px;
}
.utilities {
 
  display: flex;
  align-items: center;
  gap: 5px;
}
.components {
  display: flex;
  align-items: center;
  gap: 5px;
}
h6 {
  margin-bottom: 5px;
}
#inter_heading {
  color: rgb(192, 184, 184);
}
.arrow_icons {
  margin-left: 65px;
}
.arrow_icons2 {
  margin-left: 100px;
}
.arrow_icons3 {
  margin-left: 115px;
}
.dashboard_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}
.dashboard_header button{
  display:flex;
  align-items: center;
  padding:5px;
  background-color:#4e73df;
  border:none;
  border-radius:5px;
  font-size:14px;
  color:white;
}
h1 {
  font-size: 30px;
}
.notification_box {
  display: flex;
  flex-direction: row;
 
  height: 100px;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}
.notbox {
  width: 23%;
  height: 95px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 5px;
}
.details {
  
  padding: 5px;
}
.details_icon {
  
}
h2 {
  margin-top: 0;
}
.tasks {
  width: 200px;
}
.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50px;

}
.summary_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  margin-top: 30px;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}
.summary_box1 {
  width: 49%;
  
}
.summary_box2 {
  width: 48%;
  
  align-self: flex-start;
}
.projects {
  padding: 5px;
  padding-bottom: 25px;
  background-color: white;
  border-radius: 5px;
}
.project_heading {
  font-size: 18px;
  color: #4e73df;
}
.pheading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.redcolor {
  display: flex;
  flex-direction: row;
  height: 20px;
}
.fill_color {
  width: 20%;
  background-color: red;
  margin: 0;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.empty_color {
  width: 80%;
  background-color: rgb(211, 205, 205);
  margin: 0;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.yellow {
  background-color: rgb(241, 194, 65);
  width: 40%;
}
.blue {
  background-color: rgb(12, 112, 226);
  width: 60%;
}
.aqua {
  background-color: rgb(64, 200, 235);
  width: 80%;
}
.green {
  background-color: rgb(19, 179, 125);
  width: 100%;
  border-radius: 5px;
}
.sales {
  width: 60%;
}
.db {
  width: 40%;
}
.payout {
  width: 20%;
}
.server {
  border-top: 1px solid rgb(128, 127, 127);
}
.colors {
  display: flex;
  flex-direction: row;
  
  margin-top: 30px;
  justify-content: space-between;
}
.first_color_row {
  width: 47%;
  
}
.second_color_row {
  width: 47%;
  
}
.primary {
  width: 100%;
  height: 70px;
  background-color: #4e73df;
  padding-bottom: 15px;
  border-radius: 5px;
  margin-bottom: 25px;
}
.primary p {
  padding: 20px 0px 0px 20px;
  margin: 0;
  color: white;
}
#color_code {
  margin-top: 0;
  padding-top: 0;
}
.info {
  background-color: #36b9cc;
}
.danger {
  background-color: #e74a3b;
}
.light {
  background-color: #f8f9fc;
  border: 1px solid rgb(199, 196, 196);
}
.light p {
  color: grey;
}
.success {
  background-color: #1cc88a;
}
.warning {
  background-color: #f6c23e;
}
.secondary {
  background-color: #858796;
}
.dark {
  background-color: #5a5c69;
}
.ill_body {
  border-top: 1px solid rgb(128, 127, 127);

}
.ill_image {
  width: 60%;
  margin: 20px auto;
}
.ill_image img {
  width: 100%;
}
.ill_text {
  
  margin-top: 10px;
}
.undraw_link p {
  margin-top: 0;
  color: #4e73df;
}
.development {
  margin-top: 30px;
  
  padding: 10px;
}
.illustrate {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}
.copyright {
  text-align: center;
  margin: 50px 0px 30px 0px;
}
.comp_head {
  color: rgb(212, 209, 209);
}
.comp_head:hover {
  cursor: pointer;
  color: white;
}

#monthly {
  color: #4e73df;
}
.earnings_monthly {
  border-left: 4px solid #4e73df;
}
#annual {
  color: #1cc88a;
}
.earnings_annual {
  border-left: 4px solid #1cc88a;
}
#task_heading {
  color: #36b9cc;
}
.task_box {
  border-left: 4px solid #36b9cc;
}
#request {
  color: #f6c23e;
}
.pending {
  border-left: 4px solid #f6c23e;
}
.drop_down {
  background-color: white;
  padding-bottom: 10px;
  margin: 0 10px;
  border-radius: 5px;
}
.drop_down p {
  color: black;
}
#custom {
  font-size: 11px;
  margin-top: 0;
  margin-left: 15px;
  padding-top: 10px;
}
.list {
  margin: 0;
  margin-left: 15px;
  margin-bottom: 10px;
}
#board:hover {
  cursor: pointer;
}
#board {
  color: white;
}
.link {
  text-decoration: none;
}
.hamburger{
  display:none;
}
.menu{
 
  height:70px;
  background-color:white;
  display:flex;
  flex-direction:row;
  align-items:center;
  position:sticky;
  top: 0;
  z-index: 999;
}
input[type="search"]
{
  height:35px;
 width:90%;
 border-top-left-radius: 5px;
 border-bottom-left-radius: 5px;
}
.search{
  
  width:30%;
  display:flex;
  align-items:center;
  margin-left:30px;
  
}
 .icons{
  
  margin-left:40%;
  display:flex;
  justify-content: space-between;
  align-items:center;
  width:80px;
  height:50px;
} 
.user{
  display:flex;
  align-items:center;
  justify-content: space-between;
  margin-left:60px;
}
.navigation #hidden {
  display: flex;
}
.navigation .active {
  border: 2px solid black;
}

 @media (max-width: 762px) {
  .hamburger {
    display: block;
    margin-left: 15px;
    cursor: pointer;
  
  }

  .navigation {
    display: none;
  }

  #hidden {
    position: absolute;
    left: 0px;
    top: 80px;
    width: 100%;
    height: 600px;
    background-color:#4e73df;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

 @media(min-width:350px){
  .outer_box {
    width:100%;
  }
  
  .dashboard {
    width: 100%;
    
  }
  .notification_box {
    display: flex;
    flex-direction: column;
    
    height: auto;
    justify-content: space-between;
    padding: 0 20px 0 20px;
  }
  .notbox {
    width: 100%;
    margin-bottom:20px;
  }
  .summary_box {
    display: flex;
    flex-direction: column;
  }
  .second_box{
    width:100%;
  }
  .summary_box1 {
    width: 100%;
  }
  .summary_box2 {
    width: 100%;
  }
  .icons{
  
    margin-left:35%;
    
    
  }
  .search{
    display:none;
  }
  .user p{
    display:none;
  }
  .notbox {
    height: auto;
  }
  .dashboard_header button
  {
    display:none;
  }
  h2{
    font-size:20px;
  }
  .pheading{
    font-size:14px;
  }
  .colors {
    display: flex;
    flex-direction: column;
    margin-bottom:30px;
    margin-top:40px;
  }
  .first_color_row {
    width: 100%;
   
  }
  .second_color_row {
    width: 100%;
  }
  .user{
    margin-left:20px;
  }
}

@media(min-width:450px){

  
  .icons{
  
    margin-left:45%;
   
    
  }

}
@media(min-width:500px){

  .search{
    display:flex;
    width:50%;
  }
  .icons{
  
    margin-left:8%;   
    
  }
  .dashboard_header button
  {
    display:flex;
  }
  .user{
    margin-left:10px;
  }
}
@media(min-width:672px){

  .icons{
  
    margin-left:15%;   
    
  }
  .user{
    margin-left:15px;
  }

}

    @media(min-width:762px){
      .navigation {
        width: 20%;
      }
      .second_box{
      width:80%;
      }
      .notification_box {
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        
      }
       .notbox {
        width: 45%;
        margin-bottom:20px;
      } 
      .arrow_icons {
        margin-left: -15px;
      }
      .arrow_icons2 {
        margin-left: 12px;
      }
      .arrow_icons3 {
        margin-left: 30px;
      }
      
    }
    @media(min-width:900px){

      .icons{
  
        margin-left:20%;   
        
      }
      .user{
        margin-left:20px;
      }
      .arrow_icons {
        margin-left: 15px;
      }
      .arrow_icons2 {
        margin-left: 40px;
      }
      .arrow_icons3 {
        margin-left: 60px;
      }
      h2{
        font-size:25px;
      }
      .pheading{
        font-size:16px;
      }

    }

    @media(min-width:990px){

      .summary_box {
        display: flex;
        flex-direction: row;
      }
      
      .summary_box1 {
        width: 49%;
      }
      .summary_box2 {
        width: 48%;
      }
      .colors {
        display: flex;
        flex-direction: row;
        margin-bottom:0px;
        margin-top:30px;
      }
      .first_color_row {
        width: 47%;
       
      }
      .second_color_row {
        width: 47%;
      }
      .user p{
        display:block;
      }
      .icons{
  
        margin-left:10%;   
        
      }
      .user{
        margin-left:10px;
      }
      .arrow_icons {
        margin-left: 20px;
      }
      .arrow_icons2 {
        margin-left: 55px;
      }
      .arrow_icons3 {
        margin-left: 70px;
      }
    }
    @media(min-width:1100px){
      .search{
       
        width:30%;
      }
      .arrow_icons {
        margin-left: 45px;
      }
      .arrow_icons2 {
        margin-left: 80px;
      }
      .arrow_icons3 {
        margin-left: 95px;
      }
      .icons{
        
        margin-left:35%;
      } 
      .user{
       
        margin-left:20px;
      }
    }

    @media(min-width:1200px){

      .notbox {
        width: 23%;
      }
      .arrow_icons {
        margin-left: 60px;
      }
      .arrow_icons2 {
        margin-left: 95px;
      }
      .arrow_icons3 {
        margin-left: 110px;
      }
      .icons{
        
        margin-left:40%;
      } 
      .user{
       
        margin-left:10px;
      }
      
    }

    @media(min-width:1300px){
      .arrow_icons {
        margin-left: 80px;
      }
      .arrow_icons2 {
        margin-left: 115px;
      }
      .arrow_icons3 {
        margin-left: 130px;
      }
    

    }
    @media(min-width:1400px) {
      .icons{
        
        margin-left:40%;
      } 
      .user{
       
        margin-left:10px;
      }
      .arrow_icons {
        margin-left: 100px;
      }
      .arrow_icons2 {
        margin-left: 135px;
      }
      .arrow_icons3 {
        margin-left: 150px;
      }
    }
    @media(min-width:1450px) {
      .icons{
        
        margin-left:45%;
      } 
      .user{
       
        margin-left:20px;
      }
      .arrow_icons {
        margin-left: 130px;
      }
      .arrow_icons2 {
        margin-left: 165px;
      }
      .arrow_icons3 {
        margin-left: 175px;
      }
    }